.custom-table .ant-table-thead > tr > th {
    background-color: lightskyblue;
    font-style: bold;
    
  }
  
.border-table {
    border-collapse:collapse;
  }

.font{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
    font-size: 16px;
}